<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="3" android:versionName="1.2" package="com.rackspace.cloud.android">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<application android:name="com.rackspacecloud.android.AndroidCloudApplication" android:icon="@drawable/rackspace60"
		android:label="@string/app_name">
		<activity android:name="com.rackspacecloud.android.TabViewActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>

		<activity android:name="com.rackspacecloud.android.ListServersActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>

		<activity android:name="com.rackspacecloud.android.AddServerActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.AddContainerActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>

		<activity android:name="com.rackspacecloud.android.ViewServerActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.ContainerObjectsActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.ListContainerActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.ContainerObjectDetails"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>

		<activity android:name="com.rackspacecloud.android.EnableCDNActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.ListLoadBalancersActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>
		<activity android:name="com.rackspacecloud.android.ViewLoadBalancerActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APPLICATION" />
			</intent-filter>
		</activity>


		<activity android:name="com.rackspacecloud.android.Preferences" android:label="@string/preference_name" />
		<activity android:name="com.rackspacecloud.android.BackupServerActivity"></activity>
		<activity android:name="com.rackspacecloud.android.PasswordServerActivity"></activity>
		<activity android:name="com.rackspacecloud.android.PingServerActivity"></activity>
		<activity android:name="com.rackspacecloud.android.ListAccountsActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.rackspacecloud.android.AddAccountActivity"></activity>
		<activity android:name="com.rackspacecloud.android.ContactActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddFileActivity"></activity>
		<activity android:name="com.rackspacecloud.android.ServerErrorActivity" android:theme="@android:style/Theme.Dialog"
			android:noHistory="true"></activity>
		<activity android:name="com.rackspacecloud.android.ErrorDetailsActivity"></activity>
		<activity android:name="com.rackspacecloud.android.ConfirmResizeActivity"
			android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.rackspacecloud.android.AddLoadBalancerActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddNodesActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddNodeActivity"></activity>
		<activity android:name="com.rackspacecloud.android.EditNodeActivity" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.rackspacecloud.android.EditNodesActivity"></activity>
		<activity android:name="com.rackspacecloud.android.EditLoadBalancerActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddMoreNodesActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddExternalNodeActivity"></activity>
		<activity android:name="com.rackspacecloud.android.SharedVipActivity"></activity>
		<activity android:name="com.rackspacecloud.android.ConnectionThrottleActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AccessControlActivity"></activity>
		<activity android:name="com.rackspacecloud.android.AddAccessRuleActivity"></activity>
		<activity android:name="com.rackspacecloud.android.CreatePasswordActivity"></activity>


	</application>
	<uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 
